<!DOCTYPE html>
<html>
<head>
    <title>Library</title>
    <link rel="stylesheet" href="/static/css/views/library.css">
</head>
<body>
    <div id="library-container" class="container">
        <h1>Library</h1>
        <div id="library-controls">
            <button id="add-source-btn" onclick="libToggleAddDrawer()">Add Source</button>
        </div>
        <div id="add-source-drawer" style="display: none;">
            <h2>Add New Source</h2>
            <input type="file" id="library-pdf-input" accept=".pdf" multiple>
            <button onclick="libSubmitSource()">Submit</button>
        </div>
        <div id="tag-grid"></div>
        <div id="sources-list"></div>
    </div>
    <script src="/static/js/views/library.js"></script>
</body>
</html>